$firstFamily: 'agenda-bold';
$secondFamily: 'agendamedium';
$threeFamily: 'HelveticaLTStd-Roman';
$fourFamily: 'HelveticaLTStd-Bold';
$fiveFamily: 'HelveticaNeueLTStd-Md';
$letsColor: #fff;
$firstcolor: #e60000;
$secondcolor: #f7955b;
$colorhover: darken($firstcolor, 10%);
$colorbg: #f0f0f0;

/*$tablet: 980;*/

