<div class="featured-trip">
	<div class="container">
		<h4>Featured trip ideas</h4>
		<ul>
			<li>
				<div class="image-holder">
					<img src="images/img-02.png"  alt="">
				</div>
				<div class="text-box">
					<strong>Delenit augue duis dolore</strong>
					<span>In hendrerit in vulputate velit esse molestie illum dolore eu, gothica <a href="#">formas humanitatis</a> per seacula. </span>
					<a class="bottom" href="#">view    &gt;</a>
				</div>
			</li>
			<li>
				<div class="image-holder">
					<img src="images/img-03.png"  alt="">
				</div>
				<div class="text-box">
					<strong>Delenit augue duis dolore</strong>
					<span>In hendrerit in vulputate velit esse molestie illum dolore eu, gothica <a href="#">formas humanitatis</a> per seacula. </span>
					<a class="bottom" href="#">view    &gt;</a>
				</div>
			</li>
			<li>
				<div class="image-holder">
					<img src="images/img-04.png"  alt="">
				</div>
				<div class="text-box">
					<strong>Tincidunt laoreet dolore magna</strong>
					<span>Quod ii legunt saepius claritas est etiam processus dynamicus qui sequitur mutationem est.</span>
					<a class="bottom" href="#">view    &gt;</a>
				</div>
			</li>
			<li>
				<div class="image-holder">
					<img src="images/img-05.png"  alt="">
				</div>
				<div class="text-box">
					<strong>Tincidunt laoreet dolore magna</strong>
					<span>Quod ii legunt saepius claritas est etiam processus dynamicus qui sequitur mutationem est.</span>
					<a class="bottom" href="#">view    &gt;</a>
				</div>
			</li>
		</ul>
		<a class="see-all" href="#">See all trip ideas</a>
	</div>
</div>