<div class="mini-gallery">
	<div class="gallery-holder">
		<div class="gmask">
			<div class="slideset">
				<div class="slide active">
					<div class="image-holder">
						<img src="images/see&be.png"  alt="">
					</div>
					<div class="image-holder2">
						<img src="images/gal-01.png"  alt="">
					</div>
					<h3>Russian Jazz Ballet Valery</h3>
					<strong>Sit amet consectetuer adipiscing elit sed</strong>
					<p>Et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait. Facilisis at vero.</p>
					<a href="#">LEARN MORE</a>
				</div>
				<div class="slide">
					<div class="image-holder">
						<img src="images/see&be.png"  alt="">
					</div>
					<div class="image-holder">
						<img src="images/gal-01.png"  alt="">
					</div>
					<h3>Russian Jazz Ballet Valery</h3>
					<strong>Sit amet consectetuer adipiscing elit sed</strong>
					<p>Et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait. Facilisis at vero.</p>
					<a href="#">LEARN MORE</a>
				</div>
				<div class="slide">
					<div class="image-holder">
						<img src="images/see&be.png"  alt="">
					</div>
					<div class="image-holder">
						<img src="images/gal-01.png"  alt="">
					</div>
					<h3>Russian Jazz Ballet Valery</h3>
					<strong>Sit amet consectetuer adipiscing elit sed</strong>
					<p>Et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait. Facilisis at vero.</p>
					<a href="#">LEARN MORE</a>
				</div>
				<div class="slide">
					<div class="image-holder">
						<img src="images/see&be.png"  alt="">
					</div>
					<div class="image-holder">
						<img src="images/gal-01.png"  alt="">
					</div>
					<h3>Russian Jazz Ballet Valery</h3>
					<strong>Sit amet consectetuer adipiscing elit sed</strong>
					<p>Et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait. Facilisis at vero.</p>
					<a href="#">LEARN MORE</a>
				</div>
			</div>
		</div>
		<div class="pagination">
			<a class="btn-prev" href="#">&lt;</a>
			<ul>
				<li class="active"><a href="#"></a></li>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
			</ul>
			<a class="btn-next" href="#">&gt;</a>
		</div>
	</div>
</div>