<div class="popular-see">
	<div class="container">
		<div class="be-seen">
			{% include 'gallery-mini.twig' %}
		</div>
		<div class="popular">
			<h4>Popular Must See Attractions</h4>
			<ul>
				<li class="toggle-block">
					<a class="opener" href="#"><span>Warner Bros. Studios VIP Tours</span></a>
					<div class="slide">
						<div class="image-holder">
							<img src="images/img-01.png"  alt="">
						</div>
						<div class="text-holder">
							<strong>See the “Tonight Show” with Jay Leno in person</strong>
							<p>Nihil imperdiet doming id quod mazim placerat facer possim assum. Lobortis nisl ut aliqui modo consequat duis.</p>
						</div>
					</div>
				</li>					
				<li class="toggle-block">
					<a class="opener" href="#"><span>The Tonight Show with Jay Leno</span></a>
					<div class="slide">
						<div class="image-holder">
							<img src="images/img-01.png"  alt="">
						</div>
						<div class="text-holder">
							<strong>See the “Tonight Show” with Jay Leno in person</strong>
							<p>Nihil imperdiet doming id quod mazim placerat facer possim assum. Lobortis nisl ut aliqui modo consequat duis.</p>
						</div>
					</div>
				</li>
				<li class="toggle-block">
					<a class="opener" href="#"><span>Martial Arts History Museum</span></a>
					<div class="slide">
						<div class="image-holder">
							<img src="images/img-01.png"  alt="">
						</div>
						<div class="text-holder">
							<strong>See the “Tonight Show” with Jay Leno in person</strong>
							<p>Nihil imperdiet doming id quod mazim placerat facer possim assum. Lobortis nisl ut aliqui modo consequat duis.</p>
						</div>
					</div>
				</li>
				<li class="toggle-block">
					<a class="opener" href="#"><span>NBC Burbank Studio Tour</span></a>
					<div class="slide">
						<div class="image-holder">
							<img src="images/img-01.png"  alt="">
						</div>
						<div class="text-holder">
							<strong>See the “Tonight Show” with Jay Leno in person</strong>
							<p>Nihil imperdiet doming id quod mazim placerat facer possim assum. Lobortis nisl ut aliqui modo consequat duis.</p>
						</div>
					</div>
				</li>
				<li class="toggle-block">
					<a class="opener" href="#"><span>Starlight Bowl</span></a>
					<div class="slide">
						<div class="image-holder">
							<img src="images/img-01.png"  alt="">
						</div>
						<div class="text-holder">
							<strong>See the “Tonight Show” with Jay Leno in person</strong>
							<p>Nihil imperdiet doming id quod mazim placerat facer possim assum. Lobortis nisl ut aliqui modo consequat duis.</p>
						</div>
					</div>
				</li>
				<li class="toggle-block">
					<a class="opener" href="#"><span>It’s A Wrap</span></a>
					<div class="slide">
						<div class="image-holder">
							<img src="images/img-01.png"  alt="">
						</div>
						<div class="text-holder">
							<strong>See the “Tonight Show” with Jay Leno in person</strong>
							<p>Nihil imperdiet doming id quod mazim placerat facer possim assum. Lobortis nisl ut aliqui modo consequat duis.</p>
						</div>
					</div>
				</li>
				<li class="toggle-block">
					<a class="opener" href="#"><span>Hubba Hubba</span></a>
					<div class="slide">
						<div class="image-holder">
							<img src="images/img-01.png"  alt="">
						</div>
						<div class="text-holder">
							<strong>See the “Tonight Show” with Jay Leno in person</strong>
							<p>Nihil imperdiet doming id quod mazim placerat facer possim assum. Lobortis nisl ut aliqui modo consequat duis.</p>
						</div>
					</div>
				</li>
				<li class="toggle-block">
					<a class="opener" href="#"><span>Chaba Thai Spa</span></a>
					<div class="slide">
						<div class="image-holder">
							<img src="images/img-01.png"  alt="">
						</div>
						<div class="text-holder">
							<strong>See the “Tonight Show” with Jay Leno in person</strong>
							<p>Nihil imperdiet doming id quod mazim placerat facer possim assum. Lobortis nisl ut aliqui modo consequat duis.</p>
						</div>
					</div>
				</li>
				<li class="toggle-block">
					<a class="opener" href="#"><span>Racer’s Edge Indoor Karting</span></a>
					<div class="slide">
						<div class="image-holder">
							<img src="images/img-01.png"  alt="">
						</div>
						<div class="text-holder">
							<strong>See the “Tonight Show” with Jay Leno in person</strong>
							<p>Nihil imperdiet doming id quod mazim placerat facer possim assum. Lobortis nisl ut aliqui modo consequat duis.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>