/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
.slick-slide img
{
    display: block;
    width: 100%;
    height: auto;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* Arrows */
.btn-prev2,
.btn-next2,
.btn-prev,
.btn-next
{
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    z-index: 20;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.btn-prev2:hover,
.btn-prev2:focus,
.btn-next2:hover,
.btn-next2:focus,
.btn-prev:hover,
.btn-prev:focus,
.btn-next:hover,
.btn-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.btn-prev2:hover:before,
.btn-prev2:focus:before,
.btn-next2:hover:before,
.btn-next2:focus:before,
.btn-prev:hover:before,
.btn-prev:focus:before,
.btn-next:hover:before,
.btn-next:focus:before
{
    opacity: 1;
}
.btn-prev2.slick-disabled:before,
.btn-next2.slick-disabled:before,
.btn-prev.slick-disabled:before,
.btn-next.slick-disabled:before
{
    opacity: .25;
}
.btn-prev2,
.btn-prev
{
    left: 45%;
 
}
.btn-prev2:before,
.btn-prev:before
{
    content:"\e901";
    position:absolute;
    left:-8px;
    top:16px;
    font-size: 1.9em;
    font-weight: 300;
    font-family: 'icomoon';
    color:#e69865;
    z-index: 25;
}
.btn-next2,
.btn-next
{
    right: 46%;
}
.btn-next2:before,
.btn-next:before
{
    content:"\e900";
    position:absolute;
    left:0;
    top:16px;
    font-size: 1.9em;
    font-weight: 300;
    font-family: 'icomoon';
    color:#e69865;
    z-index: 25;
}

/* Dots */
.slick-dotted .slick-slider
{
    margin-bottom: 30px;
}

.pagination-mini,
.slick-pagination
{
    display: block;
    background: #ececec;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.pagination-mini li,
.slick-pagination li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 2px;
    padding: 0;

    cursor: pointer;
}
.pagination-mini li button,
.slick-pagination li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 16px;
    height: 16px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 1px solid #b8b8b8;
    border-radius: 50%;
    background: #fff;
    outline: none;
    background: transparent;
    box-shadow: inset 1px 2px 6px -1px #5e5e5f;
}
.pagination-mini li.slick-active button,
.slick-pagination li.slick-active button{
    position: relative;
}
.pagination-mini li.slick-active button:before,
.slick-pagination li.slick-active button:before{
    content: "";
    position:absolute;
    top:2px;
    left:2px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #233e6f;
}
.pagination-mini li button:hover,
.pagination-mini li button:focus,
.slick-pagination li button:hover,
.slick-pagination li button:focus
{
    position: relative;
    outline: none;
}
.pagination-mini li button:hover:before,
.slick-pagination li button:hover:before{
    opacity: 0.7;
    content: "";
    position:absolute;
    top:2px;
    left:2px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #233e6f;
}
