footer{
	margin: 0;
	.footer-top{
		margin: 0 0 67px;
		.container{
			max-width: 765px;
			margin: 0 auto;
			text-align: center;
			
		}
		.sponsors{
			max-width: 675px;
			margin: 0 auto 31px;
			display: flex;
			justify-content: space-around;
			align-items: center;
		}
		.footer-nav{
			display: flex;
			justify-content: center;
			margin: 0 0 40px;
			li{
				border-left: 1px solid #f7955b;
				padding: 0 7px;
				&:first-child{
					border-left: none;
				}
			}
			a{
				display: block;
				font-size: 1em;
				font-weight: 300;
				font-family: 'HelveticaLTStd-Roman';
				color:#f7955b;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
		}
		.copyright{
			span{
				display: block;
				font-size: 1em;
				font-weight: 300;
				font-family: 'HelveticaLTStd-Roman';
				color:#3c3c3c;
			}
		}
	}
	
}
.footer-botton{
		background: #5e256a;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		.container{
			display: flex;
			justify-content: space-between;
		}
		.lets-connect{
			display: flex;
			justify-content: flex-start;
			align-items: center;
			h4{
				display: inline-block;
				font-size: 1.43em;
				font-weight: 400;
				font-family: 'agenda-bold';
				color:#fff;
				margin:0 19px 0 0;
				text-transform: uppercase;
			}
			ul{
				display: flex;
				justify-content: flex-start;
			}
			li{
				width: 20px;
				height: 20px;
				margin: 0 7px 0 0;
			}
			a{
				display: block;
				position: relative;
				background: #a86bb6;
				width: 17px;
				height: 17px;
				border-radius: 2px;
				transition: background 0.3s ease-out;
				&:hover{
					background: #fff;
					transition: background 0.3s ease-out;
				}
				&:hover:before{
					color:#aa4dbd;
				}
			}
			.facebook{
				width: 17px;
				height: 17px;
				border-radius: 2px;
				&:before{
					content:"\e902";
					position:absolute;
					top:1px;
					left:2px;
					font-size: 1em;
					font-weight: 300;
					font-family: 'icomoon';
					color:#fff;
				}
			}
			.linkedin{
				&:before{
					content:"\e909";
					position:absolute;
					top:1px;
					left:2px;
					font-size: 1em;
					font-weight: 300;
					font-family: 'icomoon';
					color:#fff;
				}
			}
			.youtube{
				&:before{
					content:"\e908";
					position:absolute;
					top:1px;
					left:2px;
					font-size: 1em;
					font-weight: 300;
					font-family: 'icomoon';
					color:#fff;
				}
			}
			.pinterest{
				width: 19px;
				height: 19px;
				border-radius: 50%;
				&:before{
					content:"\e90a";
					position:absolute;
					top:2px;
					left:2px;
					font-size: 1em;
					font-weight: 300;
					font-family: 'icomoon';
					color:#fff;
				}
			}
			.google-plus{
				&:before{
					content:"\e906";
					position:absolute;
					top:1px;
					left:2px;
					font-size: 1em;
					font-weight: 300;
					font-family: 'icomoon';
					color:#fff;	
				}
			}
			.Twitter{
				&:before{
					content:"\e903";
					position:absolute;
					top:1px;
					left:2px;
					font-size: 1em;
					font-weight: 300;
					font-family: 'icomoon';
					color:#fff;
				}
			}
		}
		.book-holder{
			position: relative;
			.form-trip{
				bottom: 7px;
			}

			&:hover{
				.form-trip{
					display: block;
				}
			}
		}
		.book{
			display: block;
			font-size: 1.285em;
			font-weight: 300;
			font-family: 'agenda-bold';
			color:#fff;
			text-transform: uppercase;
			position: relative;
			margin: 0 0 0;
			padding: 7px 0 7px 38px;
			&:before{
				content:"\e905";
				position:absolute;
				top:2px;
				left:0;
				font-size: 1.5em;
				font-weight: 300;
				font-family: 'icomoon';
				color:#a16bc0;
			}
		}
	}