header{
	padding: 0 0 0 0;
	margin: 0 0 9px;
	.container{
		max-width: 918px;
	}
	&:after{
		content:"";
		position:absolute;
		top:38px;
		left:0;
		background: #662d91;
		width: 100%;
		height: 51px;
		z-index: -1;
	}
	.header-up{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		margin: 0 0 7px;
	}
	.search-input{
		margin: 5px 0 0 0;
		flex-grow:1;
		text-align: center;
		.search-box{
			width: 203px;
			box-shadow: 2px 3px 11px -2px rgba(0,0,0,0.5);
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			margin: 0 auto;
		}
		input{
			font-size: 1em;
			font-weight: 300;
			font-family: 'agendamedium';
			color:#252525;
			border: none;
			padding: 6px 40px 6px 3px;
			outline: none;
		}
		.submit{
			background: #fff;
			position: relative;
			cursor:pointer;
			width: 28px;
			height: 18px;
			border: none;
			outline: none;
			&:before{
				content:"\e904";
				position:absolute;
				top:7px;
				left:9px;
				font-size: 0.8em;
				font-weight: 400;
				font-family: 'icomoon';
				color:#6a2a78;
			}
		}
	}
	.plan-box{
		flex-shrink:0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: flex-start;
		padding: 8px 0 0;
		a{
			font-size: 0.857em;
			font-family: 'agenda-bold';
			color:#542a76;
			text-transform: uppercase;
			margin: 4px 0 0 24px;
		}
		.facebook-plan{
			position: relative;
			display: inline-block;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: #572b7a;
			margin: 0px 7px 0 24px;
			&:before{
				content:"\e902";
				position:absolute;
				top:2px;
				left:2px;
				font-size: 1.3em;
				font-weight: 300;
				font-family: 'icomoon';
				color:#fff;
			}	
		}
		.twitter-plan{
			position: relative;
			display: inline-block;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: #572b7a;
			margin: 0px 0 0;
			&:before{
				content:"\e903";
				position:absolute;
				top:3px;
				left:4px;
				font-size: 1em;
				font-weight: 300;
				font-family: 'icomoon';
				color:#fff;
			}	
		}
	}
	.header-down{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		nav{
			margin: 0 0 0 0;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			.li_down{
				position: relative;
				height: 51px;
				&:first-child:after{
					content: "";
					position:absolute;
					bottom:18px;
					right:0;
					width: 1px;
					height: 16px;
					background: none;
				}
				&:hover{
					background: #ff9b4b;
					color:#fff;
					border-bottom: none;
					box-shadow: inset 0 0 0 5px rgba(255,255,255,1);
					.ul_down{
						display: block;
						position:absolute;
						top:0;
						left:0;
						z-index: 20;
					}
				}
				&:after{
					content: "";
					position:absolute;
					bottom:18px;
					left:0;
					width: 1px;
					height: 16px;
					background: #ed8e53;
				}
			}
			a{
				display: block;
				font-size: 1.5em;
				font-weight: 700;
				font-family: 'agendamedium';
				color:#fff;
				text-transform: uppercase;
				padding: 14px 24px;
				&:hover{
					color:#fff;
					font-weight: 700;
					padding: 14px 24px;
				}
			}
			.ul_down{
				display: none;
				padding: 5px 12px 6px 203px;
				margin: 50px 0 0 0;
				background: #fff;
				width: 265px;
				position: relative;
				box-shadow: 2px 3px 11px -2px rgba(0,0,0,0.5);
				&:after{
					content: "";
					position:absolute;
					bottom:0;
					right:0;
					width: 280px;
					height: 115px;
					background: url(../images/bg-ul.png) no-repeat;
					z-index: -1;
				}
				li{
					&:hover{
						background: #ff9b4b;
						.image-holder{
							display: block;
						}
					}
				}
				.image-holder-top{
					position:absolute;
					top:3px;
					left:5px;
				}
				a{
					border-left: none;
					position: relative;
					font-size: 1em;
					font-weight: 300;
					font-family: 'agendamedium';
					color:#2a4a84;
					text-transform: uppercase;
					padding: 10px 15px 10px 34px;
					&:hover{
						color:#fff;
					}
					&:before{
						content:"\e900";
						position:absolute;
						top:5px;
						left:16px;
						font-size: 1.3em;
						font-weight: 300;
						font-family: 'icomoon';
						color:#ff9b4b;
						transition: transform 0.3s ease-out;
					}
					&:hover:before{
						content:"\e900";
						position:absolute;
						top:5px;
						left:16px;
						font-size: 1.3em;
						font-weight: 300;
						font-family: 'icomoon';
						color:#2a4a84;
						transform: rotate(90deg);
						transition: transform 0.3s linear;
					}
				}
				.image-holder{
					display: none;
					position:absolute;
					top:3px;
					left:5px;
				}
			}
		}
		.book-holder{
			position: relative;
			&:hover{
				.form-trip{
					display: block;
				}
			}
		}
		.book{
			display: block;
			font-size: 1.285em;
			font-weight: 300;
			font-family: 'agenda-bold';
			color:#fff;
			text-transform: uppercase;
			position: relative;
			margin: 0 0 0;
			padding: 16px 0 16px 38px;
			&:before{
				content:"\e905";
				position:absolute;
				top:10px;
				left:0;
				font-size: 1.5em;
				font-weight: 300;
				font-family: 'icomoon';
				color:#a16bc0;
			}
		}
	}
}
