.popular-see{
	background: #ececec;
	padding: 0 0 40px;
	.container{
		max-width: 892px;
		margin: 0 auto;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
	}
	.be-seen{
		width: 408px;
	}
	.popular{
		width: 412px;
		h4{
			font-size: 1.286em;
			font-weight: 400;
			font-family: 'HelveticaLTStd-Bold';
			color:#2a4a84;
			margin:42px 0 10px;
			text-transform: uppercase;
		}
		.toggle-block {
			padding: 7px 0 7px 0;
			margin: 0;
			border-bottom: 1px solid #bcbcbc;
			&.active{
				padding: 7px 0 0 0;
				.opener{
					&:before{
						content:"\e900";
						position:absolute;
						top:5px;
						left:7px;
						font-size: 1em;
						font-weight: 300;
						font-family: 'icomoon';
						color:#77459d;
						transform: rotate(90deg);
					}
					span{
						color:#717071;
					}
				}
			}
		}

		.toggle-block .opener{
			height: 1%;
			display: block;
			padding: 3px 10px 3px 30px;
			text-decoration: none;
			position: relative;
			&:before{
				content:"\e900";
				position:absolute;
				top:5px;
				left:7px;
				font-size: 1em;
				font-weight: 300;
				font-family: 'icomoon';
				color:#77459d;
			}
			span{
				display: block;
				font-size: 1.143em;
				font-weight: 300;
				font-family: 'HelveticaLTStd-Roman';
				color:#f7955b;
			}
		}
		.toggle-block .opener:hover {
			text-decoration: none;
		}
		.toggle-block .slide {
			position: relative;
			overflow: hidden;
			width: 372px;
			margin: 3px 0 0;
			padding: 20px 20px;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f5f5+0,f2f2f2+100 */
			background: rgb(245,245,245); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(245,245,245,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(245,245,245,1) 0%,rgba(242,242,242,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

			.image-holder{
				display: inline-block;
				border: 1px solid #b7b7b7;
				padding: 7px;
				background: #fff;
			}
			.text-holder{
				width: 200px;
				float: right;
			}
			strong{
				display: block;
				font-size: 1.286em;
				font-weight: 300;
				font-family: 'agenda-bold';
				color:#f7955b;
				margin: 0 0 20px;
			}
			p{
				font-size: 1em;
				font-weight: 300;
				font-family: 'HelveticaLTStd-Roman';
				color:#4e4e4e;
			}
		}
		.toggle-block .slide p {
			margin: 0;
		}
	}
}