<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% block styles %}
	    <link rel="stylesheet" href="./css/style.css">
	{% endblock %}
	<script 
		src="./js/require.js" 
		data-main="{% block jsEntryPoint %}./js/index{% endblock %}">
	</script>
	<title>{% block title %}Project{% endblock %}</title>
</head>
<body>
	<div class="wrapper">
		{% include './blocks/_header.twig' %}
		<section id="main">
			{% block content %}
			    
			{% endblock %}
		</section>
		{% include './blocks/_footer.twig' %}
	</div>
	<div class="footer-botton">
	<div class="container">
		<div class="lets-connect">
			<h4>LETS CONNECT</h4>
			<ul>
				<li>
					<a class="facebook" href="#"></a>
				</li>
				<li>
					<a class="linkedin" href="#"></a>
				</li>
				<li>
					<a class="youtube" href="#"></a>
				</li>
				<li>
					<a class="pinterest" href="#"></a>
				</li>
				<li>
					<a class="google-plus" href="#"></a>
				</li>
				<li>
					<a class="Twitter" href="#"></a>
				</li>
			</ul>
		</div>
		<div class="book-holder">
			<a href="#" class="book">BOOK YOUR TRIP</a>
			<form action="#" class="form-trip">
				<h4>BOOK YOUR TRIP</h4>
				<input id="datepicker3" type="text" placeholder="Check in">
				<input id="datepicker4" type="text" placeholder="Check out">
				<a href="#">Search</a>
			</form>
		</div>
	</div>
</div>
</body>
</html>